* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif; 
}

body {
    height: 100%;
    width:100%;
    background-color: #EEEEEE;
}

footer {
    position: absolute;
    width: 100%;
    background-color: #222831;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    position: fixed;
    border-bottom: solid 5px #F30067;
    font-weight: bolder;
    font-size: 1.5rem;
    z-index: 2;
    top: 0;
    background-color: #222831;
    scroll-margin-top: 100px;
}

nav ul {
    display: flex;
}

.code-quiz {
    background-image: url("../images/codequiz.gif");
    background-size: 100% 100%;
}

.container {
    margin-left: 0;
    margin-right: 0;
}

.cycle-btn {
    font-size: 4em;
    color: #FF008E;
}

.repo-icon {
    position: relative;
    top: 80%;
    right: -40%;
    font-size: 6em;
}


.link-item:hover {
    color: #FF008E;
    text-decoration: none;
}

.link-item {
    text-decoration: none;
    color: #00D1CD;
}

.mobile {
    display: none;
}

.mobile #sect-pot {
    display: none;
}

.proj-link {
    color: #222831;
    font-weight: 900;
}

.pw-gen {
    background-image: url("../images/pwgen.png");
    background-size: 100% 100%;
}

.row {
    margin: 0px;
}

.scheduler {
    background-image: url("../images/scheduler.gif");
    background-size: 100% 100%;
}

.sect-title {
    position: relative;
    font-size: 4em;
    transform: rotate(270deg);
    top: 60%;
}

.stocks {
    background-image: url("../images/stockweather.gif");
    background-size: 100% 100%;
}

.weather-dash {
    background-image: url("../images/dashboard.gif");
    background-size: 100% 100%;
}

#about-cont {
    background-image: linear-gradient(90deg, #F30067, #00D1CD);
}

#about-cont-inner {
    height: 95%;
    width: 98.5%;
    background-color: #222831;
    padding: 2.5%;
    margin: .75%;
}

/* scroll-margin-top creates space between section and nav with clicking the anchor link in the nav */
#about-me {
    display: flex;
    justify-content: space-between;
    /* background-image: linear-gradient(#F30067, #00D1CD); */
    scroll-margin-top: 100px;
    width: 100%;
    height: 450px;
    margin: 50px 0px;
}

#about-me p {
    color: aliceblue;
    /* width: 100%; */
    font-size: 2em;
    /* margin-bottom: 0;   */
}

#contact-cont {
    background-image: linear-gradient(90deg, #F30067, #00D1CD);
    width: 100%;
    height: 100%;
}

#contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #222831;
    margin: 1%;
    width: 98%;
    height: 94%;
    position: relative;
    top: -1%;
}

#contact-form p input, label, textarea{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
    color:#FF008E;
}

#contact-form button {
    outline: none;
    background-color: #00D1CD;
    border-radius: 5px;
    height: 60px;
    width: 150px;
    color:  #FF008E;
    font-size: 1.25em;
    font-weight: bolder;
}

#contact-me {
    display: flex;
    align-items: center;
    width: 100%;
    height: 450px;
    margin: 50px 0px;
}

#footer-items {
   display: flex; 
   justify-content: space-around;
   font-size: 2em;
   border-top: solid 5px #F30067;
   background-color: #222831;
}

#footer-items li a {
    list-style: none;
    color:#00D1CD;
    text-decoration: none;
}

#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1000px;
    margin-top: 90px;
    width: 100%;
    background-image: url('../images/titlebgxl.png');
    background-size: 100%;
    background-repeat: no-repeat;
    
}

#intro h1 {
    color: #00D1CD;
    text-shadow: 4px 2px #F30067;
    font-size: 6em;
    position:relative;
    top: -5%;
}

#intro h3 {
    color: #F30067;
    text-shadow: -4px -2px #00d1cd;
    font-size: 4.5em;
    /* margin: 40px; */
    position: relative;
    bottom: 21%;
}

#intro img {
    position: relative;
    top: -19%;
}

#intro-inner {
    position: relative;
    top: 3%;
    background-image: linear-gradient(90deg, #F30067, #00D1CD);
    border-radius: 50%;
    height: 600px;
    width: 600px;
    text-align: center;
}

#intro-inner2 {
    position: relative;
    background-color: #222831;
    border-radius: 50%;
    height: 575px;
    width: 575px;
    left: 2%;
    top: 2%;
}

/* #intro-inner2 h1 {
    position: relative;
    left: -52%;
    top: -6%;
}

#intro-inner2 h3 {
    position: relative;
    width: 700px;
    left: 29%;
    top: -27%;
} */

#logo {
    font-family: 'Orbitron', sans-serif;
    font-size: 4rem;
    padding: 0 1%;
    color:#EEEEEE;
}

#main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    margin: 5px;
}

#message {
    height: 100px;
    width: 430px;
}

#nav-links {
    display: flex;
    justify-content: space-between;
    width: 500px;
    list-style: none;
    margin: 0 2%;
}

#next {
    position: relative;
    border: none;
    height: 60%;
    width: 2%;
    top: 20%;
    left: -2%;
}

#port {
    display: flex;
    width: 100%;
    height: 550px;
    margin: 50px 0px;
}

#port-mobile {
    display: none;
}

#port-container-inner {
    position: relative;
    color: #EEEEEE;
    height: 96%;
    width: 104%;
    background-color: #222831;
    margin: 0% 2%;
    top: 2%;
    right: 4%;
}

#portfolio {
    display: flex;
    width: 100%;
}

#previous {
    border: none;
    position: relative;
    height: 60%;
    width: 2%;
    top: 20%;
    left: 3%;
}

#proj-0 {
    position: relative;
    height: 60%;
    width: 5%;
    top: 20%;
    left: 3%;
    opacity: 50%;
}

#proj-0 .repo-icon {
    display: none;
}

#proj-0 span {
    display: inline-block;
    position: relative;
    transform: rotate(270deg);
    text-align: center;
    top: 40%;
    width: 400%;
    left: -160%;
}

#proj-1 {
    position: relative;
    height: 70%;
    width: 10%;
    top: 15%;
    left: 3%;
    opacity: 75%;
}

#proj-1 .repo-icon {
    display: none;
}

#proj-1 span {
    display: inline-block;
    position: relative;
    font-size: 1.5em;
    transform: rotate(270deg);
    text-align: center;
    top: 40%;
    width: 200%;
    left: -75%;
}

#proj-2 {
    position: relative;
    height: 80%;
    width: 65%;
    top: 10%;
    left: 3%;
}

#proj-2 span:hover {
    color: #F30067;
}

#proj-2 span {
    display: inline-block;
    position: relative;
    font-size: 2em;
    transform: rotate(270deg);
    text-align: center;
    top: 40%;
    width: 40%;
    left: -15%;
}

#proj-3 {
    position: relative;
    height: 70%;
    width: 10%;
    top: 15%;
    left: 3%;
    opacity: 75%;
}

#proj-3 .repo-icon {
    display: none;
}

#proj-3 span {
    display: inline-block;
    position: relative;
    font-size: 1.5em;
    transform: rotate(270deg);
    text-align: center;
    top: 40%;
    width: 200%;
    left: -35%;
}

#proj-4 {
    position: relative;
    height: 60%;
    width: 5%;
    top: 20%;
    left: 3%;
    opacity: 50%;
}

#proj-4 .repo-icon {
    display: none;
}

#proj-4 span {
    display: inline-block;
    position: relative;
    transform: rotate(270deg);
    text-align: center;
    top: 40%;
    width: 400%;
    left: -160%;
}

#sect-port {
    position: relative;
    font-size: 4em;
    transform: rotate(270deg);
    top: 81%;
    left: 20%;
}

#sect-title-about {
    color: #222831;
    position: relative;
    font-size: 4em;
    transform: rotate(270deg);
    top: 60%;
}

#title-container-about {
    display: inline-block;
    width: 11%;
    height: 100%;
    /* background-image: (white, black, black, white); */
    /* padding: 0px 5px; */
    padding: 0px 15px;
}

#title-container-contact {
    display: inline-block;
    width: 10.8%;
    height: 100%;
    padding: 0px 20px;
}

#title-container-port {
    position: relative;
    display: inline-block;
    width: 10.75%;
    background-image: linear-gradient(90deg, #00D1CD, #F30067);
    height: 136%;
    padding: 0px 15px;
    top: -18%;
}

/* Media Queries */

@media screen and (max-width: 1250px) {
    .sect-title {
        font-size: 3.5em;
    }
    
    #intro {
        background-image: url('../images/titlebgmd.png');
    }
    
    #about-me p {
        font-size: 1.75em;
    }

    #sect-title-about {
        font-size: 3.5em;
    }

    #sect-port {
        font-size: 3.5em;
        left: 8%;
    }
}

@media screen and (max-width: 1150px) {
    #intro {
        background-image: url(../images/titlebgsm.png);
    }
}
@media screen and (max-width: 850px) {
    footer {
        margin-top: 5%;
    }
    
    main {
        margin-top: 60px;
    }

    nav {
        height: 100px;
    }

    .mobile {
        display: flex;
        justify-content: flex-end;
        height: 250px;
        width:95%;
        margin: 5%;
        border: 3px solid #222831;
    }

    .mobile a {
        text-decoration: none;
    }

    .mobile span {
        position: relative;
        top: 78%;
        left: 4%;
        color: #FF008E;
        font-size: 2.5em;
    }

    .repo-icon {
        font-size: 4em;
        top: 15%;
        right: 30%;
    }

    .sect-title {
        transform: none;
        top:-8%;
        /* left: -6%; */
        color: #222831;
    }
    
    #about-cont-inner {
        height: 97%;
        width: 98.5%;
        background-color: #222831;
        padding: 2.5%;
        margin: .75%;
    }

    #about-me {
        display: flex;
        flex-direction: column;
        margin-top: -50px;
    }

    #about-me p {
        color: aliceblue;
        font-size: 1.3em;
    }

    #contact-form {
        width: 99%;
        height: 97%;
        top: -3%;
        left: -2%;
    }

    #contact-me {
        display: flex;
        flex-direction: column;
        height: 525px;
    }

    #footer-items {
        font-size: 1.5em;
    }

    #intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 700px;
        margin-top: 90px;
        width: 100%;
        background-size: 100%;
        background-repeat: no-repeat;
        background-image: url('../images/titlebgsm.png');
    }


    #intro h1 {
        font-size: 60px;
        margin-top: 50px;
        text-align: center;
        position: relative;
        top: -52%;
    }

    #intro h3 {
        font-size: 50px;
        text-align: center;
        position: relative;
        top: -83%;
    }
    
    #intro img {
        position: relative;
        top: -73%;
        left: -29%;
    }

    #intro-inner {
        position: relative;
        top: 25%;
        background-image: linear-gradient(90deg, #F30067, #00D1CD);
        border-radius: 50%;
        height: 350px;
        width: 350px;
        text-align: center;
    }

    #intro-inner2 {
        position: relative;
        background-color: #222831;
        border-radius: 50%;
        height: 90%;
        width: 90%;
        left: 5%;
        top: -9%;
    }

    #message {
        height: 125px;
        width: 380px;
    }

    #nav-links {
    justify-content: space-around;
    align-items: flex-end;
    }
    
    
    #contact-form {
        margin: 20px;
    }

    #port {
        display:none;
    }

    #port-container-inner {
        background: none;
    }

    #port-mobile {
        display: flex;
        flex-direction: column;
    }

    #portfolio {
        display: flex;
        flex-direction: column;
    }

    #sect-port {
        color: #222831;
        position: relative;
        font-size: 4em;
        transform: none;
        top: -23%;
    }

    #sect-title-about {
        color: #222831;
        position: relative;
        font-size: 4em;
        transform: none;
        top: 50%;
    }

    #title-container-about {
        width: 100%;
        height: 100%;
        padding: 0px 15px;
    }

    #title-container-port {
        background-image: none;
        margin-top: 15%;
    }

    #title-container-contact {
        width: 100%;
    }
}