* {
  font-family: "Ubuntu", sans-serif;
}

::-webkit-scrollbar {
  /* background-color: #05DFD7; */
}

body {
  /* background-color: #161616; */
  background-color: #393e46;
  color: aliceblue;
  /* overflow: hidden; */
}

footer {
  background-image: linear-gradient(90deg, #fa26a0, #05dfd7);
  height: 50px;
}


.about {
  
  height: 200px;
  /* padding: 5px 0; */
  /* width: 95%; */
  /* width: 95%; */
  /* margin-left: 0; */
  /* border-top-right-radius: 5px; */
  /* border-bottom-right-radius: 10px; */
  text-align: center;
  margin-top: 10%;
}

.about-me {
    /* display: none; */
}

.about-row {
  background-image: linear-gradient(90deg, #05dfd7, #fa26a0);
  /* background-image: linear-gradient(90deg, #eeeeee 5%, #393e46 95%); */
  padding: 5px;
  margin: 1%;
  justify-content: center;
  align-items: center;
  height: 150px;
  /* width:100%; */
  /* margin-right: 5px; */
  /* border-bottom-right-radius: 10px; */
}

.about-summary {
  font-size: 2em;
  background: #393e46;
  /* color: #393e46; */
  /* transform: rotate(270deg); */
  /* text-align: center; */
  height: 100%;
  width: 100%;
  /* justify-content: space-around; */
  margin: 0%;
}


.code-quiz {
  background-image: url("./assets/images/codequiz.gif");
  background-size: 100% 100%;
}

.contact {
  text-align: center;
  margin: 10% 0%;
}

.contact-info {
  background: #393e46;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  margin: 0%;
}

.contact-row {
  /* background-image: linear-gradient(90deg, #eeeeee 5%, #393e46 95%);
  height: 240px;
  margin-right: 5px;
  border-bottom-right-radius: 10px; */
  background-image: linear-gradient(90deg, #05dfd7, #fa26a0);
  height: 400px;
  padding: 5px;
  margin: 1%;
  justify-content: center;
  align-items: center;
}

.contact-title {
  /* font-size: 2em;
  color: #393e46;
  transform: rotate(270deg);
  text-align: center;
  padding: 4% 0; */
}

.desktop {
  margin: 2%;
}

.fa-caret-left {
  color: #05dfd7;
  font-size: 4em;
}

.fa-caret-right {
  color: #fa26a0;
  font-size: 4em;
}

.intro {
  /* border: 1px black solid; */
  height: 1000px;
}

.intro-row {
  display: flex;
  flex-wrap: none;
}

.left-side {
  display: flex;
  /* border: 1px black solid; */
  height: 1000px;
  justify-content: flex-end;
}

.navbar {
  /* border: 1px solid black; */
  background-image: linear-gradient(90deg, #05dfd7, #fa26a0);
  color: aliceblue;
  width: 50%;
  position: absolute;
  right: 0px;
  border-bottom-left-radius: 5px;
  z-index: 1;
}

/* .proj {
  height: 800px;
  background-image: linear-gradient(90deg, #05dfd7, #fa26a0);
  margin-top: 10%;
  padding: 5px 0;
  width: 95%;
  margin-right: 0;
  border-bottom-left-radius: 10px;

} */

/* .proj-cont {
  display: flex;
  padding: 5% 5%;
} */

/* .proj-ex {
  text-align: center;
  width: 90%;
  justify-content: center;
  align-items: center;
  height: 350px;
  margin: 0;
} */

/* .proj-link {
  color: #222831;
  font-weight: 900;
} */

/* .proj-row {
  background-image: linear-gradient(90deg, #393e46 5%, #eeeeee 95%);
  display: flex;
  width: auto;
  height: 790px;
  margin-left: 5px;
  margin-right: 0;
  border-bottom-left-radius: 10px;
} */

.pw-gen {
  background-image: url("./assets/images/pwgen.png");
  background-size: 100% 100%;
}

.projects {
  text-align: center;
  margin-top: 5%;
  
}

.project-card {
  margin: 2%;
  object-fit: cover;
}

.project-examples {
  background: #393e46;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  margin: 0%;
}

.project-expand {
  background-image: linear-gradient(90deg, #05dfd7, #fa26a0);
  height: 800px;
  padding: 5px;
  margin: 1%;
  justify-content: center;
  align-items: center;
}

.right-side {
  display: flex;
  height: 1000px;
  align-items: center;
}

.scheduler {
  background-image: url("./assets/images/scheduler.gif");
  background-size: 100% 100%;
}
.stocks {
  background-image: url("./assets/images/stockweather.gif");
  background-size: 100% 100%;
}

.weather-dash {
  background-image: url("./assets/images/dashboard.gif");
  background-size: 100% 100%;
}

#a-outer {
  background-image: linear-gradient(90deg, #fa26a0, #05dfd7);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  align-self: flex-start;
  margin: 0 10%;
  z-index: 1;
}

#a-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(90deg, #393e46 5%, #eeeeee 95%);
  height: 90px;
  width: 90px;
  border-radius: 50%;
  margin: 5px;
  z-index: 1;
}

#a-title {
  /* border: 1px black solid */
}

#about-title {
  font-size: 72px;
  background: -webkit-linear-gradient(#05dfd7, #fa26a0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#contact-title {
  font-size: 72px;
  background: -webkit-linear-gradient(#05dfd7, #fa26a0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#dev-outer {
  background-image: linear-gradient(#05dfd7, #fa26a0);
  height: 250px;
  width: 250px;
  border-radius: 50%;
  align-self: flex-end;
  margin: 0% 20%;
  z-index: 1;
}

#dev-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(90deg, #393e46 5%, #eeeeee 95%);
  height: 240px;
  width: 240px;
  border-radius: 50%;
  margin: 5px;
  z-index: 1;
}

#intro-flex {
  display: flex;
  height: 100%;
  width: 30%;
  align-items: center;
  justify-content: flex-start;
}

#intro-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(90deg, #393e46 5%, #eeeeee 95%);
  height: 440px;
  width: 440px;
  border-radius: 50%;
  margin: 5px;
  z-index: 1;
}

#intro-outer {
  /* border: 1px black solid; */
  display: flex;
  background-image: linear-gradient(90deg, #393e46, #05dfd7, #fa26a0);
  height: 450px;
  width: 450px;
  position: relative;
  right: 100%;
  border-radius: 50%;
  z-index: 1;
}

#left-inner {
  /* border: 1px black solid; */
  height: 100%;
  background-image: linear-gradient(#05dfd7, #fa26a0);
}
#line-1 {
  position: relative;
  height: 3px;
  width: 70%;
  background-color: #fa26a0;
  transform: rotate(-25deg);
  left: -50%;
  top: -8%;
}

#line-2 {
  position: relative;
  height: 3px;
  width: 40%;
  background-color: #05dfd7;
  transform: rotate(-33deg);
  left: 15%;
  top: -3%;
}

#line-3 {
  position: relative;
  height: 3px;
  width: 40%;
  background-color: #05dfd7;
  transform: rotate(80deg);
  left: 35%;
  top: -5%;
}

#project-title {
  /* background: linear-gradient(); */
  font-size: 72px;
  background: -webkit-linear-gradient( #05dfd7, #fa26a0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* #proj-0 {
  border: 1px solid black;
  height: 80%;
}

#proj-0 .repo-icon {
  display: none;
}

#proj-0 span {
  display: inline-block;
  position: relative;
  transform: rotate(270deg);
  text-align: center;
}

#proj-0,
#proj-1 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: -2px 4px 10px grey;
}

#proj-1 {
  border: 1px solid black;
  height: 85%;
}

#proj-2 {
  border: 1px solid black;
  height: 90%;
  box-shadow: 2px 4px 10px 4px grey;
}

#proj-3 {
  border: 1px solid black;
  height: 85%;
}

#proj-3,
#proj-4 {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: 2px 4px 10px grey;
}

#proj-4 {
  border: 1px solid black;
  height: 80%;
} */

#title-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(90deg, #393e46 5%, #eeeeee 95%);
  height: 290px;
  width: 290px;
  border-radius: 50%;
  margin: 5px;
  z-index: 1;
}

#title-intro {
}

#title-outer {
  /* border: 1px black solid; */
  background-image: linear-gradient(90deg, #fa26a0, #05dfd7);
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin: 5%;
  align-self: flex-start;
  margin-top: 10%;
  z-index: 1;
}

#weather-dash {
  background-image: url("../images/dashboard.gif");
}
#web-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(90deg, #393e46 5%, #eeeeee 95%);
  height: 140px;
  width: 140px;
  border-radius: 50%;
  margin: 5px;
  z-index: 1;
}
#web-outer {
  background-image: linear-gradient(#fa26a0, #05dfd7);
  height: 150px;
  width: 150px;
  border-radius: 50%;
  align-self: center;
  margin: 5%;
  z-index: 1;
}
#web-title {
  /* border: 1px black solid; */
}

#welcome-flex {
  /* border: 1px black solid; */
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  margin-right: 10%;
  margin-bottom: 3%;
  /* padding: 5%; */
}

#welcome-flex h1 {
  color: #393e46;
  text-shadow: 2px 4px 5px #fa26a0;
  font-size: 5em;
  text-align: center;
}

#welcome-flex h2 {
  color: #393e46;
  text-shadow: 2px 4px 5px #05dfd7;
  font-size: 3em;
  text-align: center;
}

/* #dev-title h2 {
    font-size: 2.5em;
} */
@media screen and (max-width: 1300px) {
  #line-2 {
    transform: rotate(-50deg)
  }
}

@media screen and (max-width: 995px) {
  /* .intro {
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }   */
  .left-side {
        display: none;
    }
    
    /* #left-inner {
        display: none;
      } */

    .navbar {
    width: 100%;
    border-bottom-left-radius: 0px;
    }
    .right-side {
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    #intro-flex {
        width: 0%;
        justify-content: center;
    }
    
    #intro-inner {
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(90deg, #393e46 5%, #eeeeee 95%);
        height: 440px;
        width: 440px;
        border-radius: 50%;
        margin: 5px;
        z-index: 1;
    }
    
    #intro-outer {
        display: flex;
        background-image: linear-gradient(90deg, #393e46, #05dfd7, #fa26a0);
        height: 450px;
        width: 450px;
        position: relative;
        right: 100%;
        border-radius: 50%;
        z-index: 1;
    }

    #welcome-flex {
        display: none;
    }
}

@media screen and (max-width: 880px) {
  /* #title-outer {
        
        background-image: linear-gradient(90deg, #05DFD7, #FA26A0);
        height: 150px;
        width: 150px;
        border-radius: 50%;
        align-self: flex-end;
        margin: 0 2%;
    }
    
    #title-inner {
       
        background-image: linear-gradient(90deg, #393E46 5%, #EEEEEE 95%);
        height: 140px;
        width: 140px;
        border-radius: 50%;
        margin: 5px
    } */
    .project-card {
      max-width: 600px
    }
}
